.navbar-brand {
  span, img {
    height: 40px;
  }

  img {
    width: 40px;
    margin-right: 10px;
  }

  span {
    display: inline-block;
    margin-top: -10px;
    margin-right: 5px;
  }
}

.navbar {
  background-color: #F8F8F8;

  .nav > li > a {
    color: #B8B8B8;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
  }

  .nav > li.active > a {
    background-color: #E7E7E7;
    color: #B8B8B8;

    &:hover {
      background-color: #EEEEEE;
      color: #B8B8B8;
    }
  }

  .nav > li > .btn-download {
    background-color: #F8F8F8;
    border-color: #E4E4E4;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 9px;
  }
}
