- @page_id = "aa_app_management"

.row
  .col-md-12
    %p
      This page is a sample integration point. To place your content under the umbrella of the
      admin admin management console, create your controller under <b>app/controllers/admin_admin</b>,
      inherit it from <b>AdminAdmin::BaseController</b> to get free authentication and authorization.

    %p
      When done, change the header links, by creating your own version at <b>app/layouts/admin/_header_links</b>.
      Don't forget to restart the server, so it picks up the override.
