.row#header
  .col-md-12
    %nav.navbar.navbar-default
      .container-fluid
        %button{ type: "button", class: "navbar-toggle", data: { toggle: "collapse", target: "#nav-collapse" } }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "#{CsfConfig['app_title']} Admin Console", :root, class: "navbar-brand"

        .collapse.navbar-collapse#nav-collapse
          %ul.nav.navbar-nav
            %li
              = link_to :admin_admin_registration_requests do
                Registrations
                - if (c = RegistrationRequest.unarchived.count) > 0
                  %span.badge= c
