.row#header
  .col-md-2
    = link_to :root, class: "banner-image" do
      = image_tag t("layouts.public.header.banner_image"), alt: t("layouts.public.header.banner_image_alt_text")
  .col-md-10
    %h3= t("layouts.public.header.banner_text")
    %h4= t("layouts.public.header.banner_subtext")
