%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapse{ type: "button", data: { toggle: "collapse", target: "#navbar" } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to :root, class: "banner-image navbar-brand" do
        = image_tag t(".banner_image"), alt: t(".banner_image_alt_text")
        #{t("layouts.public.header.title")} Admin Console

    #navbar.collapse.navbar-collapse
      = render 'layouts/admin/header_links'
