- title ||= false
- subtitle ||= false
- if title || subtitle
  .row.page-head
    .col-md-12
      - if title
        %h3.page-title= title
      - if subtitle
        .page-subtitle= subtitle

- if flash[:alert]
  .alert.alert-danger= flash[:alert]
- if flash[:notice]
  .alert.alert-info= flash[:notice]
