- @page_id = 'page_user_dashboard'

= page_head

.row
  .col-md-12
    .body
      %p
        This is the <b>user dashboard integration point</b>. The user is redirected here after the successful login.

      %p
        Path to this page is defined in <b>config/csf_config.yml</b> (urls.user_dashboard key).

      %p
        In order to override this page, create the controller/action for your version,
        add route to your routes file and change the path in the file above.
